body {
    margin: 0;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#scene {
    position: relative;
}

#background {
    width: 800px; /* adapte à ton image */
}

/* Zone cliquable invisible */
.zone {
    position: absolute;
}

/* Un petit message */
#message {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-family: sans-serif;
}
#cle {
    left: 350px;
    top: 300px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
